<section class="new-deal">
    <div class="container bg-white ">
        <div class="row ">
            <!-- Card 1 -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                <div class="item-slide">
                    <div class="box-img">
                        <img src="http://orig11.deviantart.net/6356/f/2010/156/e/f/swallowed_by_nature_by_danutza88.jpg"
                            alt="studio_img" />
                        <div class="text-wrap">
                            <h3> Studio</h3>
                        </div>
                    </div>
                    <div class="slide-hover">
                        <div class="text-wrap-hover">
                            <div class="title-hover">
                                <p>Última Versão X </p>
                            </div>
                            <div class="row text-center ">
                                <div
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center flex-wrap">
                                    <div class="link-decoration ">
                                        <a href="#">Instalação</a>
                                    </div>
                                </div>
                                <div
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center flex-wrap">
                                    <div class="link-decoration ">
                                        <a href="#">Atualização</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim Card 1 -->

            <!-- Card 2 -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                <div class="item-slide">
                    <div class="box-img">
                        <img src="http://orig11.deviantart.net/6356/f/2010/156/e/f/swallowed_by_nature_by_danutza88.jpg"
                            alt="adm_img" />
                        <div class="text-wrap">
                            <h3> Administrativo</h3>
                        </div>
                    </div>
                    <div class="slide-hover">
                        <div class="text-wrap-hover">
                            <div class="title-hover">
                                <p>Última Versão X </p>
                            </div>
                            <div class="row text-center ">
                                <div
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center flex-wrap">
                                    <div class="link-decoration ">
                                        <a href="#">Instalação</a>
                                    </div>
                                </div>
                                <div
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center flex-wrap">
                                    <div class="link-decoration ">
                                        <a href="#">Atualização</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim Card 2 -->
            <!-- Card 3 -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                <div class="item-slide">
                    <div class="box-img">
                        <img src="http://orig11.deviantart.net/6356/f/2010/156/e/f/swallowed_by_nature_by_danutza88.jpg"
                            alt="rcp_img" />
                        <div class="text-wrap">
                            <h3> Recepção</h3>
                        </div>
                    </div>
                    <div class="slide-hover">
                        <div class="text-wrap-hover">
                            <div class="title-hover">
                                <p>Última Versão X </p>
                            </div>
                            <div class="row text-center ">
                                <div
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center flex-wrap">
                                    <div class="link-decoration ">
                                        <a href="#">Instalação</a>
                                    </div>
                                </div>
                                <div
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center flex-wrap">
                                    <div class="link-decoration ">
                                        <a href="#">Atualização</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim Card 3 -->

            <!-- Card 4 -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                <div class="item-slide">
                    <div class="box-img">
                        <img src="http://orig11.deviantart.net/6356/f/2010/156/e/f/swallowed_by_nature_by_danutza88.jpg"
                            alt="cartucheira_img" />
                        <div class="text-wrap">
                            <h3> Cartucheira</h3>
                        </div>
                    </div>
                    <div class="slide-hover">
                        <div class="text-wrap-hover">
                            <div class="title-hover">
                                <p>Última Versão X </p>
                            </div>
                            <div class="row text-center ">
                                <div
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center flex-wrap">
                                    <div class="link-decoration ">
                                        <a href="#">Instalação</a>
                                    </div>
                                </div>
                                <div
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center flex-wrap">
                                    <div class="link-decoration ">
                                        <a href="#">Atualização</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim Card 4 -->
            <!-- Card 5 -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                <div class="item-slide">
                    <div class="box-img">
                        <img src="http://orig11.deviantart.net/6356/f/2010/156/e/f/swallowed_by_nature_by_danutza88.jpg"
                            alt="censura_img" />
                        <div class="text-wrap">
                            <h3> Censura</h3>
                        </div>
                    </div>
                    <div class="slide-hover">
                        <div class="text-wrap-hover">
                            <div class="title-hover">
                                <p>Última Versão X </p>
                            </div>
                            <div class="row text-center ">
                                <div
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center flex-wrap">
                                    <div class="link-decoration ">
                                        <a href="#">Instalação</a>
                                    </div>
                                </div>
                                <div
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center flex-wrap">
                                    <div class="link-decoration ">
                                        <a href="#">Atualização</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim Card 5 -->
            <!-- Card 6 -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                <div class="item-slide">
                    <div class="box-img">
                        <img src="http://orig11.deviantart.net/6356/f/2010/156/e/f/swallowed_by_nature_by_danutza88.jpg"
                            alt="stream_img" />
                        <div class="text-wrap">
                            <h3> Streaming</h3>
                        </div>
                    </div>
                    <div class="slide-hover">
                        <div class="text-wrap-hover">
                            <div class="title-hover">
                                <p>Última Versão X </p>
                            </div>
                            <div class="row text-center ">
                                <div
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center flex-wrap">
                                    <div class="link-decoration ">
                                        <a href="#">Instalação</a>
                                    </div>
                                </div>
                                <div
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center flex-wrap">
                                    <div class="link-decoration ">
                                        <a href="#">Atualização</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim Card 6 -->


        </div>
    </div>
</section>